/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
.rspec_status
Gemfile.lock
*.log
test/dummy/log/*
test/dummy/tmp/*
test/dummy/db/*.sqlite3*
test/dummy/db/migrate/
test/dummy/db/schema.rb
test/dummy/storage/
test/dummy/.bundle/
!test/dummy/log/.keep
!test/dummy/tmp/.keep
.DS_Store
