/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
.rspec_status
Gemfile.lock
*.log
test/dummy_*/log/*
test/dummy_*/tmp/*
test/dummy_*/db/*.sqlite3*
test/dummy_*/storage/
test/dummy_*/.bundle/
.DS_Store
